html,body,div
  margin: 0
  padding: 0

body
  font-family: "メイリオ" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro"
  font-size: 13px
  background-color: #ffffff
  text-align: left
  color: #666666
p
  margin-top: 5px 0 5px 0
  padding: 0
img
  border-style: none
a
  color: #ff8800
  text-decoration: none

body, #header, #main, #footer
  width: 100%
  min-width: 1024px

#header
  position: absolute
  top: 0
  width: 100%
  height: 145px
  background-image: url(../image/header.png)
  background-repeat: no-repeat
  background-color: #ffffff
  &:after
    position: absolute
    content: ''
    top: 145px
    width: 100%
    height: 20px
    background-image: url(../image/header_bottom.png)
    background-repeat: repeat-x
    background-color: #ffffff
  #title
    padding: 50px
    margin: 40px 0px 0px 20px
    font-family: "DFKai-SB" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro"
    font-weight: bold
    font-size: 25px
    color: #666666

#main
  position: absolute
  top: 200px
  width: 100%
  min-height: 675px
  background-image: url(../image/logo.png)
  background-repeat: no-repeat
  background-position: left bottom
  background-color: #ffffff

#footer
  position: absolute
  top: 840px
  width: 100%
  height: 30px
  padding: 20px 0 20px 0
  background-color: #555555
  p
    margin: 0
    padding: 0
    color: #eeeeee
    text-align: right

.container
  width: 1024px
  margin: 0 auto
  min-height: 0px
  &:before,&:after
    display: table
    content: " "
  &:after
    clear: both

div#content
  height: 560px
  padding: 20px
  background-color: #eeeeee
  border: 1px solid #ffffff
  border-radius: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  .title
    background-color: #fff8ff
    display: block
    padding: 10px
    border-width: 0px 0px 1px 10px
    border-color: #ffaec9
    border-style: solid
    border-radius: 3px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    font-size: 16px
    color: #444444
    margin-bottom: 10px
  .subtitle
    background-color: #fff8ff
    display: block
    padding: 10px
    border-width: 0px 0px 1px 0px
    border-color: #ffaec9
    border-style: solid
    font-size: 12px
    color: #444444
    margin-bottom: 10px
  .article
    color: #444444
    display: block
    line-height: 1.8em
    padding: 5px
    background-color: #fff8ff
    border-radius: 5px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    
#menu ul
  list-style: none
  font-size: 14px
  margin: 0
  padding: 0
  li a
    display: block
    width: 180px
    padding: 5px 20px
    margin: 0
    margin-bottom: 5px
    color: #777777
    background: #eeeeee url(../image/menubg.png) repeat-y
    border: 0
    border-radius: 5px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    text-decoration: none
    &:hover
      color: #555555
      background: #eeeeee url(../image/menubgh.png) repeat-y

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11 
  float: left
.col-12
  width: 100%
.col-11
  width: 91.66666666666666%
.col-10
  width: 83.33333333333334%
.col-9
  width: 75%
.col-8
  width: 66.66666666666666%
.col-7
  width: 58.333333333333336%
.col-6
  width: 50%
.col-5
  width: 41.66666666666667%
.col-4
  width: 33.33333333333333%
.col-3
  width: 25%
.col-2
  width: 16.666666666666664%
.col-1
  width: 8.333333333333332%
