@mixin border-radius($radius)
  -webkit-border-radius: $radius
  border-radius: $radius
  background-clip: padding-box

@mixin border-top-radius($radius)
  -webkit-border-top-right-radius: $radius
  border-top-right-radius: $radius
  -webkit-border-top-left-radius: $radius
  border-top-left-radius: $radius
  background-clip: padding-box

@mixin border-right-radius($radius)
  -webkit-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius
  -webkit-border-top-right-radius: $radius
  border-top-right-radius: $radius
  background-clip: padding-box

@mixin border-bottom-radius($radius)
  -webkit-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius
  -webkit-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius
  background-clip: padding-box

@mixin border-left-radius($radius)
  -webkit-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius
  -webkit-border-top-left-radius: $radius
  border-top-left-radius: $radius
  background-clip: padding-box

html, body, div
  margin: 0
  padding: 0

body
  font-family: "メイリオ" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro"
  font-size: 13px
  background-color: #ffffff
  text-align: left
  color: #666666
  height: 100%

body, #header
  position: absolute

body, #header, #main, #footer
  background-color: #ffffff
  width: 100%
  min-width: 1024px

#header
  height: 145px
  background-image: url(../image/header.png)
  background-position: left top
  background-repeat: no-repeat
  &:after
    position: absolute
    width: 100%
    height: 20px
    top: 145px
    content: ''
    background-image: url(../image/header_bottom.png)
    background-repeat: repeat-x
  #title
    display: block
    padding: 50px
    margin: 40px 0px 0px 20px
    text-decoration: none
    font-family: "DFKai-SB" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro"
    font-weight: bold
    font-size: 25px
    color: #666666

#main
  margin: 200px 0 20px 0
  min-height: 0
  background-image: url(../image/logo.png)
  background-repeat: no-repeat
  background-position: left bottom

#footer
  height: 30px
  padding: 20px 0 20px 0
  background-color: #555555
  p
    margin: 0
    padding: 0
    color: #eeeeee
    text-align: right

.container
  position: relative
  width: 1024px
  min-height: 0
  margin: 0 auto
  &:before,&:after
    display: table
    content: " "
  &:after
    clear: both

div#content
  min-height: 560px
  padding: 20px
  background-color: #eeeeee
  border: 1px solid #ffffff
  @include border-radius(5px)    
  h1
    background-color: #fff8ff
    display: block
    margin: 0
    padding: 10px
    border-width: 0px 0px 1px 10px
    border-color: #ffaec9
    border-style: solid
    @include border-radius(3px)
    font-size: 22px
    color: #444444
    margin-bottom: 10px
  h2
    background-color: #fff8ff
    display: block
    padding: 10px
    border-width: 0px 0px 1px 0px
    border-color: #ffaec9
    border-style: solid
    font-size: 18px
    color: #444444
    margin-bottom: 10px
  h3
    display: block
    padding: 0
    margin: 0
    font-style: none
    font-size: 14px
  .article
    color: #444444
    display: block
    line-height: 1.8em
    padding: 16px
    background-color: #fff8ff
    @include border-radius(px)
    p
      margin: 0 0 16px 0
      padding: 0
      text-indent: 1em
      &.author
        margin: 0
        text-indent: 0
        text-align: right
        color: #cacaca
        font-size: 12px
        a
          color: #2f96c6
      &.noindent
        text-indent: 0
      &.nomargin
        margin: 0
    ul
      margin: 16px 0 16px 0
      &.decimal
        list-style-type: decimal
      li 
        display: list-item
        margin: 0
        padding: 0




    
#menu ul
  list-style: none
  font-size: 14px
  margin: 0
  padding: 0
  li a
    position: relative
    display: block
    width: 180px
    padding: 5px 20px
    margin: 0
    margin-bottom: 5px
    color: #777777
    background: #eeeeee
    border: 0
    @include border-right-radius(3px)
    text-decoration: none
    &:before
      position: absolute
      content: "■"
      top: 0
      left: 0
      width: 15px
      height: 100%
      background: #d8d8d8
      line-height: 3em
      font-size: 8px
      text-align: center
      vertical-align: center
      @include border-left-radius(3px)
      color: #7453a1
    &:hover
      // color: #555555
      &:before
        color: #ffaec9

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11 
  float: left
.col-12
  width: 100%
.col-11
  width: 91.66666666666666%
.col-10
  width: 83.33333333333334%
.col-9
  width: 75%
.col-8
  width: 66.66666666666666%
.col-7
  width: 58.333333333333336%
.col-6
  width: 50%
.col-5
  width: 41.66666666666667%
.col-4
  width: 33.33333333333333%
.col-3
  width: 25%
.col-2
  width: 16.666666666666664%
.col-1
  width: 8.333333333333332%
