#content.col-8
  %h1
    クラ代ってなに？
  .article
    %p
      クラス代表者会議（通称、クラ代）は、学類毎に設置された各クラスと、大学内の様々な組織（学生支援室、教職員、全代会全学学類・専門学群代表者会議等）との橋渡し的役割を担う組織です。
      私たち春日地区クラス代表者会議(通称、春日クラ代)は、春日エリアでの学生生活向上を目指して活動しています。
      主な活動として、クラス連絡会の執行、食堂業者との意見交換会、広報誌PALの作成、目安箱への回答などに取り組んでいます。
    %p  
      クラス連絡会では、学生の意見を教職員、学生支援室に反映させる、生活や授業の改善を図っています。
      食堂業者との意見交換会では、食堂のメニュー改善や、新しいメニューの導入などに関する話し合いを行っています。
      また広報誌PALを作成し、春日クラ代の活動を掲示板を通して学生に伝えるよう働きかけています。
      主に情報学群のゆかコン嬢の紹介、クラス連絡会の報告などを掲載しています。
    %p  
      目安箱は春日エリア内に設置されており、学生がふと感じた疑問、質問に答えるためのものです。
      「春日のチャイムが本学と違う理由」「授業の休講情報を携帯で見られるようにしたい」「いいアパートはないか」などといった、幅広い質問内容に答えていきます。
      この他にもまだまだ多くの活動を行っていますが、これらの活動が春日エリアで過ごす人々に有益な情報を提供し、快適なキャンパスライフを過ごしていくきっかけになる事を願っています。