#content.col-9
  %h1
    お問い合わせ
  .article
    %p 春日地区クラス代表者会議では、学生の皆様からの意見をお待ちしています。春日地区で生活する上で困った点や、こうしたら良いなどの提案、あるいは周知してほしい内容がある、など何でもご相談ください。

    %p 私たち春日地区クラス代表者への連絡には
    %ul
      %li 目安箱を使って意見を投稿する
      %li 春日地区クラス代表者に直接を連絡する
      %li
        %a{:href => "https://twitter.com/ksg_kuradai", :target => "_brank"}Twitterアカウント
        にReply又はDirect Messageを飛ばす
      %li somu.13.12[at]kuradai.orgにメールを送信する。※[at]を@に変えてください

    %p などの手段を利用することが出来ます。都合の良い方法でご連絡ください。
