#content.col-8
  %h1
    お問い合わせ
  .article
    %p
      春日クラス代表者会議では、学生の皆様からの意見をお待ちしています。
      春日地区で生活する上で困った点や、こうしたら良いなどの提案、あるいは周知してほしい内容がある、など何でもご相談ください。

      私たちクラ代への連絡には

      目安箱を使って意見をする
      直接クラスのクラ代に伝える
      twitterアカウントに＠を飛ばす
      info(at)kasuga-campus.co.cc へメールを送る。 ※(at)を@に変えてください
      などなど、ご都合の良い方法をご利用ください。

  