#content.col-9
  %h1
    春日地区クラス代表者会議のWebサイトへようこそ
  .article
    %p
      ここは筑波大学春日地区クラス代表者会議、通称「春日クラ代」のWebサイトです。
      %br
      それぞれ活動内容の異なる「生活局」、「知識教育局」、「総務局」という3つの部局から成るクラス代表者会議に関する情報を掲載しています。

    %h2 リンク
    %ul
      %li
        %a{:href => "https://twitter.com/ksg_kuradai", :target => "_brank"}Twitter: 春日地区クラス代表者会議 @ksg_kuradai
      %li
        %a{:href => "https://twitter.com/kasuga_shokudou", :target => "_brank"}Twitter: 春日食堂 @kasuga_shokudou
      %li
        %a{:href => "http://www.stb.tsukuba.ac.jp/~kasuga-campus/member/", :target => "_brank"} 春日地区クラス代表者会議Wiki
