#content.col-8
  .title
    予定表
  .article
    %p
      ４月
      ５月　やどかり祭
      ６月　合同クラス連絡会
      ７月
      ８月　クラ代合宿
      ９月　
      １０月
      １１月　創成クラス連絡会　図情クラス連絡会
      １２月
      １月
      ２月
      ３月　引き継ぎ
