#content.col-8
  %h1
    予定表
  .article.schedule
    %table
      %tr
        %th ４月
        %td
      %tr
        %th ５月
        %td やどかり祭
      %tr
        %th ６月
        %td 合同クラス連絡会
      %tr
        %th ７月
        %td
      %tr
        %th ８月
        %td クラ代合宿
      %tr
        %th ９月
        %td
      %tr
        %th １０月
        %td
      %tr
        %th １１月
        %td 
          創成クラス連絡会
          図情クラス連絡会
      %tr
        %th １２月
        %td
      %tr
        %th １月
        %td
      %tr
        %th ２月
        %td
      %tr
        %th ３月
        %td 引き継ぎ
