extends layout/default

block title 
  title 目安箱|筑波大学 春日地区クラス代表者会議

block assets
  script(src = "js/opinions.js")

block contents
  #content.col-9
    h1 目安箱
    //- .article
    //-   span.opinion-label 大学全体
    //-   span.opinion-label 春日エリア
    //-   span.opinion-label 食堂
    //-   span.opinion-label 設備
    //-   span.opinion-label 進路
    //-   span.opinion-label 履修
    //-   span.opinion-label クラ代への質問
    //-   span.opinion-label その他
    .article.opinions
    .article.opinion-menus