ul
  li
    a(href = "index.html") トップ
  li
    a(href = "aboutus.html") クラ代について
  li
    a(href = "activities.html") 局紹介
  li
    a(href = "kurarennkai.html") クラス連絡会について
  li
    a(href = "opinions.html") 目安箱
  li
    a(href = "schedule.html") 年間スケジュール  
  li
    a(href = "contact.html") お問い合わせ
  li
    a(href = "sitemap.html") サイトマップ
