%meta{:charset => "UTF-8"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%script{:src => "javascripts/jquery-2.0.3.js"}
%script{:src => "javascripts/bootstrap.js"}
%script{:src => "javascripts/app.js"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/bootstrap.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "stylesheets/style.css"}