#menu.col-3
  %ul
    - {index: "トップ", aboutus: "クラ代について", activities: "局紹介", kurarennkai: "クラス連絡会について", opinions: "目安箱", pal: "PAL", schedule: "年間スケジュール", contact: "お問い合わせ"}.each do |key, val|
      %li
        %a{:href => "#{key}.html"} #{val}