.navbar.navbar-default{:role= => "navigation"}
  .container
    .navbar-header
      %button{:type => "button", :class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.sr-only Toggle
        - 3.times do |i|
          %span.icon-bar
      %a{:class => "navbar-brand", :href => "index.html"} #{Haml::Engine.new(File.read('./src/haml/template/title.haml')).render}

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - {aboutus: "クラ代について", activities: "局紹介", contact: "お問い合わせ", kurarennkai: "クラス連絡会について", opinions: "目安箱", pal: "PAL", schedule: "年間スケジュール"}.each do |key, val|
          %li
            %a{:href => "#{key}.html"} #{val}