#menu.col-3
  %ul
    - {aboutus: "クラ代について", activities: "局紹介", contact: "お問い合わせ", kurarennkai: "クラス連絡会について", opinions: "目安箱", pal: "PAL", schedule: "年間スケジュール"}.each do |key, val|
      %li
        %a{:href => "#{key}.html"} #{val}